.app-container{
  width: 100%;
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.input-parent{
  margin-top:2rem;
  width:50%;
}

form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.input-parent input{
  width:100%;
}

.input-parent button{
  width:30%;
  padding:.5rem 1rem;
  margin-top:1rem;
  margin-bottom:3rem;
}

.task-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-num{
  margin-right:.5rem;
}

.task-delete{
  margin-left: 1rem;
  color:red;
  cursor: pointer;
}
